*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: cursive;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}
.wrapper{
    height: 100vh;
    width: 100vw;
}

.panels-container{
    width: 100vw;
    position: relative;
}

.panel{
    height: 100vh;
    width: 100vw;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.p-content{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-content p{
    color: cornflowerblue;
}
.a{
    background-color: blue;
}
.b{
    background-color: white;
}
.c{
    background-color: purple;
}
.d{
    background-color: red;
}
.e{
    background-color: brown;
}
.f{
    background-color: green;
}
.g{
    background-color: yellow;
}
.h{
    background-color: burlywood;
}